* {
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://wallpapercave.com/wp/wp8731698.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav img {
    width: 100px;
    height: 50px;
    border-radius: 24px;
}

.nav {
    display: flex;
    height: 80px;
    color: white;
    width: 100%;
    position: fixed;
    background-color: #12fd7c29;
    backdrop-filter: blur(2px);
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.dept {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 30%;
    margin-bottom: 8px;
    color: #fcfbfb;
    font-size: larger;
    font-weight: 600;
    border-radius: 25px;
    border: 1.5px solid greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

.choose .link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 70px;
    text-align: center;
}

.nav a {
    color: #fefefe;
    font-size: 20px;
    margin: 5px;
    border-radius: 24px;
    padding: 10px
}

.choose .link:hover {
    border-bottom: 2px solid greenyellow;
}

.choose .link:hover a {
    background-color: #1ca517;
    box-shadow: 0 0 10px greenyellow;
    color: white;
}

.choose {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: large;
    font-weight: 600;
}

.nav a:active {
    background-color: #1ca517;
    color: white;
}

.nav .more {
    position: absolute;
    text-align: center;
    cursor: pointer;
    display: none;
}

.nav .more:hover {
    color: white;
}

.container {
    height: calc(100% - 80px);
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff6347;
    pointer-events: none;
    transition: transform 0.4s ease-in-out;
}

.glow {
    transition: all ease-in-out .5s;
}

.glow:hover {
    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: var(--color);

    border-radius: 12px;
    border: 1px solid currentColor;
    box-shadow:
        /* --- "glass" tube --- */
        /* inside */
        inset 0 0 0 2px rgba(0, 0, 0, 0.15),
        /* outside */
        0 0 0 2px rgba(0, 0, 0, 0.15),
        /* --- glow --- */
        /* inside */
        inset 0 0 var(--box-blur) var(--glow),
        /* outside */
        0 0 var(--box-blur) var(--glow);
    color: var(--color, white);

    >* {
        
    }

    &.yelw {
        --color: #37f929;
        filter: saturate(175%);
    }

    &.orng {
        --color: #fda802;
        filter: brightness(110%);
    }

    &.purpl {
        --color: #e555c7;
        filter: brightness(125%);
    }

    &.sky {
        --color: #b7e7f7;
        filter: saturate(200%);
    }
}

.card {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px 5px 15px 5px;
    background-color: #ffbf003d;
    backdrop-filter: blur(7px);
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(164, 164, 164);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cardImage {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* .card:hover img{
    scale: 1.1;
    transition: scale .6s ease-in-out;
} */
.card h3 {
    font-size: x-large;
    color: whitesmoke;
    margin-bottom: 4px;
    font-weight: 500;
}

.card h4 {
    color: white;
}

.card img {
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
    border-radius: inherit;
}

.down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.alert {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    z-index: 20;
    box-shadow: rgba(42, 91, 41, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.alert-success {
    color: white;
    background-color: #00b603;
    border-color: #d6e9c6;
}

.alert-danger {
    color: white;
    background-color: #981e1c;
    border-color: #ebccd1;
}

.lan {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
    margin: 0px 4px;
    padding: 5px 8px;
    border-radius: 5px;
}

.down :first-child {
    background-color: #09A6BD;
    color: white;
    transition: all ease-in-out .3s;
}

.down :first-child:hover {
    background-color: #1acfeb;
    color: black;
}

.down :last-child {
    background-color: #0b9e08;
    color: rgb(248, 245, 245);
    transition: all ease-in-out .3s;
}

.down :last-child:hover {
    background-color: #1cd919;
    color: rgb(13, 12, 12);
}

.moreDiv {
    background-color: #09a5bd95;
    backdrop-filter: blur(7px);
    z-index: 10;
    position: fixed;
    right: 0;
    top: 15px;
    display: none;
    gap: 15px;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    padding: 20px;
    color: white;
}

.moreDiv i {
    margin: 8px;
    color: white;
}

.moreDiv i:hover {
    color: rgb(215, 215, 215);
}

.moreDiv a {
    border: none;
    color: #ffffff;
    font-size: 20px;
    margin-left: 5%;
    width: 50%;
}

.moreDiv a:hover {
    background-color: #1ca517;
    color: white;
}

/* @media only screen and (width > 850px) {
    .container {

        grid-template-columns: 30% 30% 30%;
    }
} */
@media only screen and (width < 1250px) {
    .nav {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .dept {
        height: 40px;
        display: flex;
        align-items: center;
    }

    .nav .more {
        display: none;
    }

    .moreDiv {
        display: none;
    }
}

@media only screen and (width < 800px) {
    .nav img {
        width: 80px;
        height: 40px;
        border-radius: 4px;
    }

    .card {
        width: 80%;
        padding: 8px;
        margin: 5px;
        border-radius: 8px;
    }

    .nav {
        flex-wrap: wrap;
        height: auto;
    }

    .choose {
        display: none;
    }

    .dept {
        margin-top: 10px;
        font-size: x-small;
        margin-left: 24px;
    }

    .nav .more {
        position: absolute;
        display: block;
        right: 15px;
    }

    .moreDiv {
        display: none;
        padding: 10px;
    }
}

@media only screen and (width < 390px) {
    .items {
        width: 90vw;
    }

    .nav {
        width: 100%;
    }

    a {
        text-decoration: none;
        margin: 0px 2px;
        padding: 2px 4px;
        border-radius: 3px;
        font-size: small;
    }

    .card h3 {
        font-size: large;
        color: whitesmoke;
        margin-bottom: 4px;
        font-weight: 400;
    }

    .card h4 {
        color: white;
        font-size: small;
    }

    .nav .more {
        right: 8px;
    }

    .moreDiv {
        width: 55%;
    }
}